html{
    scroll-behavior: smooth;
    margin: 0;
}

.bg-myblack{
    background-color: #141313;
}


.logo-img{
    width: 50px;
    height: auto;
    margin: 20px;
}

.text-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fafafa;
}

.texto-titulo{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.linea-azul{
    width: 90%;
    border: 1px solid #18a2c5;
}

    
.box-uno{
    margin: auto;
    width: 300px;
    height: 30px;
    background-color: #18a2c5;  
}

.box-dos{
    margin: auto;
    width: 300px;
    height: 350px;
}

.texto-ordinario{
    width: 100%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fafafa;
    padding: 10px;
}

.fas{
    color: #fafafa;
}