html{
    scroll-behavior: smooth;
    margin: 0;
}


@media(min-width: 0px) and (max-width:767px){
    nav{
        background-color: #18a2c5;
    }
}

a:link, a:visited, a:active a:hover{
    text-decoration: none !important;
    list-style-type: none !important;
}


.bg-myblack{
    background-color: #141313;
}

.bg-blue{
    background-color: #18a2c5;
    height: 420px;
}

.bg-azul{
    background-color: #18a2c5;
}

.logo-img{
    width: 50px;
    height: auto;
    margin: 20px;
}

.text-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fafafa;
}

.texto-titulo{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.linea-azul{
    width: 90%;
    border: 1px solid #18a2c5;
}

    
.box-uno{
    margin: auto;
    width: 300px;
    height: 30px;
    background-color: #18a2c5;  
}

.box-dos{
    margin: auto;
    width: 300px;
    height: 350px;
}

.texto-ordinario{
    width: 100%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fafafa;
    padding: 10px;
}

.fas{
    color: #fafafa;
}

.img-card{
    height: 180px;
    width: auto;
}

.card-body h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fafafa;
}

.card-body p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fafafa;
}

.viajes-chile{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fafafa;
    padding: 0;
    margin: 0;
}

.icono{
    font-size: 30px;
    color: #fafafa;
    margin-left: 10px;
}

@media(min-width: 0px) and (max-width:767px){
    .quienes{
       display: none;
    }
}